@model IEnumerable<FDFVANLØSEEKSAMEN.Repository.Models.Barn>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutLeder.cshtml";
}

<h1>Children List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bnavn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModtagetLod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetuneretLod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Bnavn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModtagetLod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RetuneretLod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bg.Bgnavn)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BarnId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
