@model FDFVANLØSEEKSAMEN.Repository.Models.BørneGruppe

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_LayoutLotteriBestyrer.cshtml";
}

<h1>Slet</h1>

<h3>Er du sikker på du vil slet dette?</h3>
<div>
    <h4>Børnegruppe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bgnavn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bgnavn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModtagetLod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModtagetLod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RetuneretLod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RetuneretLod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leder.BrugerId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Bgid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
